.footer{
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    text-align: center;
    justify-content:space-evenly;
    list-style-type: none;
}

.footer2{

    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    text-align: center;
    justify-content:space-evenly;
    list-style-type: none;
}