.favorites
{
    display:flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: black;
    color:white;
    margin-top: 10px;
}

.cards
{
    background-color: grey;
    text-align: center;
}